<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="my-4">
        <h1 class="display-2 font-weight-bold mb-3">Photo Upload Demo</h1>

        <p class="subheading font-weight-regular">
          A minimal photo upload/download application, written with Vue and
          express.js in JavaScript with a min.io backend.
        </p>
      </v-col>

      <v-col class="mb-5" cols="12">
        <h2 class="headline font-weight-bold mb-3">
          Last three uploaded photos
        </h2>

        <PhotoGallery />
      </v-col>

      <v-col class="mb-5" cols="12">
        <FileUpload />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PhotoGallery from "./PhotoGallery";
import FileUpload from "./FileUpload";

export default {
  name: "Dashboard",
  components: {
    PhotoGallery,
    FileUpload,
  },
};
</script>
