<template>
  <div>
    <v-row no-gutters justify="center" align="center">
      <v-col cols="8">
        <v-file-input
          show-size
          truncate-length="50"
          label="Click here to select file to upload"
          @change="selectFile"
        ></v-file-input>
      </v-col>

      <v-col cols="4">
        <v-btn color="success" dark @click="upload">
          Upload Photo
          <v-icon right dark>mdi-cloud-upload</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-alert v-if="message" color="light-blue" dark>
      {{ message }}
    </v-alert>
  </div>
</template>

<script>
import MinioService from "../services/minio-service";

export default {
  name: "FileUpload",
  data: () => ({
    currentFile: null,
    message: "",
  }),
  methods: {
    selectFile(file) {
      this.currentFile = file;
    },
    async upload() {
      if (!this.currentFile) {
        this.message = "Please select a file!";
        return;
      }

      try {
        await MinioService.postPhoto(this.currentFile);
        this.message = "Photo upload successful!";
      } catch (err) {
        this.message = "Could not upload the file!";
        this.currentFile = null;
      }
    },
  },
};
</script>
