<template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <v-img
        alt="Site logo"
        :src="require('../assets/photo-upload-inverted.png')"
        class="shrink mr-2"
        contain
        min-width="40"
        width="40"
      />
    </div>

    <v-spacer></v-spacer>

    <v-btn href="https://gitlab.com/olof-nord/minio-demo" target="_blank" text>
      <span class="mr-2">GitLab repository</span>
      <v-icon>mdi-open-in-new</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: "Header",
};
</script>
