<template>
  <v-row>
    <v-col
      v-for="(next, i) in photos"
      :key="i"
      class="d-flex child-flex"
      cols="4"
    >
      <v-img :src="next" aspect-ratio="1" class="grey lighten-2">
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular
              indeterminate
              color="grey lighten-5"
            ></v-progress-circular>
          </v-row>
        </template>
      </v-img>
    </v-col>
  </v-row>
</template>

<script>
import MinioService from "../services/minio-service";

export default {
  name: "PhotoGallery",
  data: () => ({
    photos: [],
    errors: [],
  }),
  async created() {
    try {
      const photoURLs = await MinioService.getPhotos();
      this.photos = photoURLs.slice(0, 3);
    } catch (err) {
      this.errors.push(err);
    }
  },
};
</script>
