<template>
  <v-app>
    <v-main>
      <Header />
      <Dashboard />
    </v-main>
  </v-app>
</template>

<script>
import Header from "./components/Header";
import Dashboard from "./components/Dashboard";

export default {
  name: "App",
  components: {
    Header,
    Dashboard,
  },
};
</script>
